In [144]:
# Import required libraries
import pandas as pd
import re
from datetime import datetime

In [145]:
# Get sheets from excel files and store in pandas dataframes
xlsx = pd.ExcelFile('Week7Challenge.xlsx')
alloc_details_df = pd.read_excel(xlsx, 'Allocation Details')
dep_details_df = pd.read_excel(xlsx, 'Departure Details')

In [146]:
# Explore the data
#alloc_details_df.head()
#dep_details_df.head()
#alloc_details_df_temp.head()

In [147]:
#Generate Ship ID fields from Departure ID
alloc_details_df['Ship ID'] = alloc_details_df['Departure ID'].str.rsplit('-',3,expand=True)[0]

In [148]:
#Generate Departure Date fields from Departure ID
alloc_details_df['Departure Date'] = alloc_details_df['Departure ID'].str.split('-',2,expand=True)[2]

In [149]:
#Convertt Departure Date to datetime field
alloc_details_df['Departure Date'] = pd.to_datetime(alloc_details_df['Departure Date'],format='%d-%m-%Y')

In [150]:
# Group by Ship ID & Departure Date and sum on Weight & Volume Allocated fields
aggregations = {
    'Weight Allocated':'sum',
    'Volume Allocated': 'sum'
}
alloc_details_df_temp = alloc_details_df.groupby(
    ['Ship ID','Departure Date'], as_index=False
    ).agg(aggregations)

In [151]:
alloc_details_df_temp.head()

        Ship ID Departure Date  Weight Allocated  Volume Allocated
0  Freighter-01     2019-04-06              1336               112
1  Freighter-01     2019-06-18              4580               556
2  Freighter-02     2019-04-10              3972               396
3  Freighter-02     2019-04-19              1932               200
4  Freighter-02     2019-05-26              4252               294

In [152]:
# Join alloc_details_df_temp with dep_details_df 
# on Ship ID and Departure Date
dep_details_df_final = pd.merge(dep_details_df, 
                                alloc_details_df_temp, 
                                on=['Ship ID','Departure Date'], 
                                how='inner')

In [153]:
# Check if data is ok
#dep_details_df_final[dep_details_df_final['Ship ID']=='Tug-05']

In [154]:
# Define 2 functions to check if Allocated Weight/Volume > Max Weight/Volume
def f(row):
    if row['Weight Allocated'] > row['Max Weight']:
        return True
    else:
        return False
def g(row):
    if row['Volume Allocated'] > row['Max Volume']:
        return True
    else:
        return False

In [155]:
# Create Max Weight Exceeded? & Max Vol Exceeded? fields using apply()
dep_details_df_final['Max Weight Exceeded?'] = dep_details_df_final.apply(f, axis=1)
dep_details_df_final['Max Vol Exceeded?'] = dep_details_df_final.apply(g, axis=1)

In [156]:
# Check Data
#dep_details_df_final[dep_details_df_final['Ship ID']=='Tug-05']
dep_details_df_final[dep_details_df_final['Ship ID']=='Freighter-01']

,Ship ID,Departure Date,Max Weight,Max Volume,Weight Allocated,Volume Allocated,Max Weight Exceeded?,Max Vol Exceeded?
3,Freighter-01,2019-04-06,5000,500,1336,112,False,False
52,Freighter-01,2019-06-18,5000,500,4580,556,False,True

In [157]:
dep_details_df_final

,Ship ID,Departure Date,Max Weight,Max Volume,Weight Allocated,Volume Allocated,Max Weight Exceeded?,Max Vol Exceeded?
0,Tug-05,2019-03-27,500,50,707,68,True,True
1,Freighter-04,2019-03-31,5000,500,616,106,False,False
2,Freighter-03,2019-04-01,5000,500,2392,232,False,False
3,Freighter-01,2019-04-06,5000,500,1336,112,False,False
4,Tanker-02,2019-04-07,1000,200,809,110,False,False
5,Tanker-04,2019-04-10,1000,200,257,58,False,False
6,Freighter-02,2019-04-10,5000,500,3972,396,False,False
7,Tug-05,2019-04-10,500,50,222,27,False,False
8,Freighter-03,2019-04-10,5000,500,3476,456,False,False
9,Freighter-04,2019-04-12,5000,500,2120,176,False,False
10,Tug-03,2019-04-14,500,50,196,43,False,False
11,Tug-03,2019-04-15,500,50,88,22,False,False
12,Tug-03,2019-04-17,500,50,521,65,True,True
13,Freighter-02,2019-04-19,5000,500,1932,200,False,False
14,Tanker-04,2019-04-21,1000,200,715,160,False,False
15,Tug-01,2019-04-23,500,50,1,5,False,False
16,Tug-02,2019-04-25,500,50,506,64,True,True
17,Freighter-04,2019-04-27,5000,500,2500,146,False,False
18,Tanker-04,2019-04-27,1000,200,924,276,False,True
19,Tug-01,2019-04-29,500,50,482,49,False,False
20,Tanker-03,2019-04-30,1000,200,660,116,False,False
21,Tug-01,2019-04-30,500,50,406,32,False,False
22,Tanker-05,2019-05-02,1000,200,353,68,False,False
23,Tanker-05,2019-05-03,1000,200,1007,142,True,False
24,Tug-04,2019-05-03,500,50,248,25,False,False
25,Tanker-05,2019-05-04,1000,200,481,130,False,False
26,Tug-03,2019-05-04,500,50,225,44,False,False
27,Tug-02,2019-05-11,500,50,255,31,False,False
28,Tanker-01,2019-05-11,1000,200,826,124,False,False
29,Tanker-01,2019-05-12,1000,200,570,114,False,False
30,Tanker-05,2019-05-20,1000,200,822,158,False,False
31,Tug-05,2019-05-22,500,50,269,31,False,False
32,Freighter-05,2019-05-23,5000,500,3052,298,False,False
33,Freighter-02,2019-05-26,5000,500,4252,294,False,False
34,Tug-05,2019-05-26,500,50,222,14,False,False
35,Freighter-04,2019-05-26,5000,500,1136,194,False,False
36,Freighter-05,2019-05-26,5000,500,1140,306,False,False
37,Tanker-05,2019-05-27,1000,200,813,92,False,False
38,Freighter-02,2019-06-03,5000,500,2976,112,False,False
39,Tug-01,2019-06-04,500,50,348,46,False,False
40,Tanker-01,2019-06-04,1000,200,1063,228,True,True
41,Freighter-05,2019-06-06,5000,500,3212,374,False,False
42,Tug-01,2019-06-07,500,50,193,20,False,False
43,Tanker-05,2019-06-08,1000,200,81,52,False,False
44,Freighter-05,2019-06-10,5000,500,3496,380,False,False
45,Tug-04,2019-06-11,500,50,304,41,False,False
46,Freighter-02,2019-06-11,5000,500,1056,102,False,False
47,Tanker-02,2019-06-11,1000,200,621,136,False,False
48,Tug-04,2019-06-12,500,50,95,1,False,False
49,Tug-01,2019-06-13,500,50,270,44,False,False
50,Tanker-05,2019-06-17,1000,200,540,58,False,False
51,Tug-04,2019-06-18,500,50,435,53,False,True
52,Freighter-01,2019-06-18,5000,500,4580,556,False,True
53,Freighter-05,2019-06-19,5000,500,1636,96,False,False
54,Freighter-04,2019-06-19,5000,500,2960,278,False,False
55,Tug-04,2019-06-21,500,50,37,16,False,False
56,Freighter-05,2019-06-26,5000,500,3304,282,False,False
57,Tanker-04,2019-06-27,1000,200,839,216,False,True